	<!-- Page Content -->

    <div id="partial" class="col-sm-6 col-sm-offset-3" style="margin-top:25px;">
 		<div class="input-group">
  			<span class="input-group-addon" id="basic-addon">Enter phonetics...</span>
 			<input type="text" class="form-control" id="phonetics" name="phonetics" aria-describedby="basic-addon3">
 		</div>
 		</br>
 		<div class="input-group">
  			<span class="input-group-addon" id="basic-addon">Enter name...</span>
 			<input type="text" class="form-control" id="name" name="name" aria-describedby="basic-addon3">
 		</div>
 		</br>
 		<div class="col-sm-6 col-sm-offset-3">
 			<h6 class="text-center">Enter type...</h6>
 			<select id="type" name="type" aria-describedby="basic-addon3">
 				<option>Consonant</option>
 				<option>Vowel</option>
 			</select>
 			</br>
 		</div>
	</div> 

	</br>